/* Forms reset */
form-reset()
	button
	input
	select
	textarea
		margin 0

		padding 0

		border none
		outline none
		background none
		box-shadow none

	button
	select
		cursor pointer

	input[type=checkbox]
		cursor pointer

	input[type=radio]
		cursor pointer

/* //Forms reset */
