include ../../../gulp/settings/pages/mixins.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head()
		
	body(itemscope, itemtype="http://schema.org/WebPage")

		div(class="page")
			header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				
			main(class="page-content")
				block content
			
			footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
